spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri:  http://localhost:9080/realms/spring/protocol/openid-connect/certs
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  data:
    redis:
      host: localhost
      port: 6379
  cache:
    type: redis
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 60MB
  config:
    import: optional:configserver:http://localhost:8888
  application:
    name: profiles-service
app:
  s3:
    bucket: "tinderclone-photobucket"
    presign-exp-seconds: 300
  geocoding:
    user-agent: "TinderClone/1.0 (tclone@tclone.com)"
    base-url: "https://nominatim.openstreetmap.org"
    country-codes:  "de,at,pl"
    timeout-ms: 3000

cloud:
  aws:
    region: eu-north-1

keycloak:
  auth-server-url: http://localhost:6700
  realm: spring
  client-id: profiles-service


server:
  servlet:
    context-path: /api/v1/profiles