eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    hostname: localhost

server:
  port: 8222 # port on which the API Gateway will work. Clients will send requests to this port.

spring:

  data:
    redis:
      host: localhost
      port: 6379
  application:
    name: gateway # application name that can be used for identification in logs or monitoring.
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri:  http://localhost:9080/realms/spring/protocol/openid-connect/certs
  cloud:
    gateway:
      server:
        webflux:
          routes:
            ############################## PROFILES ROUTES
            - id: profile-create
              uri: http://localhost:8010
              predicates:
                - Path=/api/v1/profiles
                - Method=POST
              filters:
                - name: RoleBasedRateLimitFilter
                  args:
                    adminCapacity:  1000000000
                    adminPeriodInSeconds: 3600
                    premiumCapacity: 50
                    premiumPeriodInSeconds: 3600
                    basicCapacity: 5
                    basicPeriodInSeconds: 3600
                    anonCapacity: 0
                    anonPeriodInSeconds: 7200

            - id: profile-update
              uri: http://localhost:8010
              predicates:
                - Path=/api/v1/profiles/**
                - Method=PUT, PATCH
              filters:
                - name: RoleBasedRateLimitFilter
                  args:
                    adminCapacity:  1000000000
                    adminPeriodInSeconds: 3600
                    premiumCapacity: 50
                    premiumPeriodInSeconds: 3600
                    basicCapacity: 20
                    basicPeriodInSeconds: 3600
                    anonCapacity: 1
                    anonPeriodInSeconds: 3600
            - id: profile-delete
              uri: http://localhost:8010
              predicates:
                - Path=/api/v1/profiles/**
                - Method=DELETE
              filters:
                - name: RoleBasedRateLimitFilter
                  args:
                    adminCapacity: 50
                    adminPeriodInSeconds: 3600
                    premiumCapacity: 20
                    premiumPeriodInSeconds: 3600
                    basicCapacity: 5
                    basicPeriodInSeconds: 3600
                    anonCapacity: 1
                    anonPeriodInSeconds: 3600

            - id: profile-other
              uri: http://localhost:8010
              predicates:
                - Path=/api/v1/profiles/**
              filters:
                - name: RoleBasedRateLimitFilter
                  args:
                    adminCapacity:  1000000000
                    adminPeriodInSeconds: 3600
                    premiumCapacity: 300
                    premiumPeriodInSeconds: 3600
                    basicCapacity: 120
                    basicPeriodInSeconds: 3600
                    anonCapacity: 1
                    anonPeriodInSeconds: 3600

              ############################## SWIPES ROUTES

            - id: swipes
              uri: http://localhost:8020
              predicates:
                - Path=/api/v1/swipes/**
              filters:
                - name: RoleBasedRateLimitFilter
                  args:
                    adminCapacity:  1000000000
                    adminPeriodInSeconds: 3600
                    premiumCapacity: 500
                    premiumPeriodInSeconds: 3600
                    basicCapacity: 100
                    basicPeriodInSeconds: 3600
                    anonCapacity: 10
                    anonPeriodInSeconds: 3600


custom:
  admin:
    rate-limit: 1000000000
management:
  tracing:
    sampling:
      probability: 1.0
