eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    hostname: localhost

server:
  port: 8222 # port on which the API Gateway will work. Clients will send requests to this port.

spring:

  data:
    redis:
      host: localhost
      port: 6379
  application:
    name: gateway # application name that can be used for identification in logs or monitoring.
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri:  http://localhost:9080/realms/spring/protocol/openid-connect/certs
  cloud:
    gateway:
      server:
        webflux:
          routes:
            ############################## PROFILES ROUTES
            - id: profile-create
              uri: http://localhost:8010
              predicates:
                - Path=/api/v1/profiles
                - Method=POST
              filters:
                - name: RateLimitFilter
                  args:
                    capacity: 1
                    periodInSeconds: 3600

            - id: profile-update
              uri: http://localhost:8010
              predicates:
                - Path=/api/v1/profiles/**
                - Method=PUT, PATCH
              filters:
                - name: RateLimitFilter
                  args:
                    capacity: 20
                    periodInSeconds: 3600
            - id: profile-delete
              uri: http://localhost:8010
              predicates:
                - Path=/api/v1/profiles/**
                - Method=DELETE
              filters:
                - name: RateLimitFilter
                  args:
                    capacity: 11
                    periodInSeconds: 3600

            - id: profile-other
              uri: http://localhost:8010
              predicates:
                - Path=/api/v1/profiles/**
              filters:
                    - name: RateLimitFilter
                      args:
                        capacity: 100
                        periodInSeconds: 3600

              ############################## SWIPES ROUTES

            - id: swipes
              uri: http://localhost:8020
              predicates:
                - Path=/api/v1/swipes/**
              filters:
                - name: RateLimitFilter
                  args:
                    capacity: 100
                    periodInSeconds: 3600

#            - id: profiles-create
#              uri: http://localhost:8010
#              predicates:
#                - Path=/api/v1/profiles/**
#                - Method=POST
#              filters:
#                - name: RequestRateLimiter
#                  args:
#                    redis-rate-limiter.replenishRate: 2
#                    redis-rate-limiter.burstCapacity: 5
#                    redis-rate-limiter.requestedTokens: 1
#
#            - id: profiles-update
#              uri: http://localhost:8010
#              predicates:
#                - Path=/api/v1/profiles/**
#                - Method=PUT, PATCH
#              filters:
#                - name: RequestRateLimiter
#                  args:
#                    redis-rate-limiter.replenishRate: 2
#                    redis-rate-limiter.burstCapacity: 5
#                    redis-rate-limiter.requestedTokens: 1
#
#            - id: profiles-delete
#              uri: http://localhost:8010
#              predicates:
#                - Path=/api/v1/profiles/**
#                - Method=DELETE
#              filters:
#                - name: RequestRateLimiter
#                  args:
#                    redis-rate-limiter.replenishRate: 2
#                    redis-rate-limiter.burstCapacity: 5
#                    redis-rate-limiter.requestedTokens: 1
#
#            - id: profiles-other
#              uri: http://localhost:8010
#              predicates:
#                - Path=/api/v1/profiles/**
#              filters:
#                - name: RequestRateLimiter
#                  args:
#                    redis-rate-limiter.replenishRate: 2
#                    redis-rate-limiter.burstCapacity: 5
#                    redis-rate-limiter.requestedTokens: 1

management:
  tracing:
    sampling:
      probability: 1.0
