# IP/hostname сервера с инфраструктурой (deploy/infrastructure)
INFRA_HOST=1.2.3.4

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_strong_password
REDIS_PASSWORD=change_me_redis_password

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_me_keycloak_password

AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_S3_BUCKET=profiles-photos
# Закомментируй и убери AWS_S3_ENDPOINT чтобы использовать настоящий AWS S3
AWS_S3_ENDPOINT=http://1.2.3.4:4566

CDN_ENABLED=false
CLOUDFRONT_DOMAIN=
