POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_strong_password

REDIS_PASSWORD=change_me_redis_password

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_me_keycloak_password

# Публичный IP/hostname этого сервера — нужен для KAFKA_ADVERTISED_LISTENERS
KAFKA_EXTERNAL_HOST=1.2.3.4

AWS_REGION=eu-north-1
