spring:
  datasource:
    url: jdbc:postgresql://127.0.0.1:54322/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: consumer-service-group
      auto-offset-reset: earliest
      enable-auto-commit: false

app:
  kafka:
    topic:
      match-created: match.created
